body {
    background: yellow;
    color: black;
    padding: 20px;
    min-height: 1000px;
}


.dogImage {
    width: 300px;
    margin: 20px 0;
    border: none;
}


.button {
    font-size: 13px;
    cursor: pointer;
    position: inherit;
    bottom: 20px;
    right: 20px;
    height: 30px;
    width: 80px;

}

.first_text{
                font-family: 'Comic Sans MS', cursive, sans-serif;
                font-size: small;
                color: red;
}

.second_text{
                font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: blue;
}