body {
    background: yellow;
    color: black;
    padding: 20px;
    min-height: 1000px;
}


.dogImage {
    width: 100%;
    margin: 20px 0;
    border: none;
     max-width: 250px;
}


.button {
    font-size: 10px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 30px;
    width: 50px;

}

.first_text {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: small;
    color: red;
}

.second_text {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: blue;
}

h1 {
    text-align: center;
}


.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}