form {
    background: none;
    padding: 2.5rem;
    border-radius: 14px;
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1;
}

form input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

form button {

    width: 100px;
    padding: 10px;
    font-size: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}



.no-dogs-text{
    text-align:center;
}

.dog-photo {
  width: 150px;
  border-radius: 8px;
}

.dog-section{
    margin-top:50px;
    padding:20px;
}

.section-title{
    text-align:center;
      margin-bottom: 30px;
}

.dog-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
}

.dog-table th,
.dog-table td{
      border: 1px solid #ccc;
  padding: 10px;
}